/** Tolgo per tutti i browser eventuali margini degli elementi
"*" sta per tutti i tag */

@keyframes show{
    from{
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

*{
    padding: 0;
    margin: 0;
}

html{
    background-color: #f6f6f6;
    font-family: sans-serif;
}

/** Prendo il tag con id app */
#app{
    margin: 10px;
    animation: fadeIn 3s;
}

input[type=text]{
    padding: 7px;
    appearance: none;

    /** Resettiamo il bordo che mette il browser */
    outline: none;

    border: 1px solid #cccccc;
    border-radius: 4px;
}

input:focus {
    border: 1px solid rgb(0, 200, 255);
    box-shadow: 0px 0px 3px 4px rgba(0, 200, 255, 0.2);
}

button{
    appearance: none;
    outline: none;
    padding: 7px;
    border: 1px solid rgb(0, 200, 255);
    background-color: rgb(0, 200, 255);
    border-radius: 2px;
    color: white;
    cursor: pointer;
}

button:hover{
    filter: brightness(90%);
}

button:active{
    filter: brightness(70%);
}

ul{
    /** Rimuovo i pallini del ul */
    list-style: none;
}

li{
    border-bottom: 1px solid #cccccc;
    padding: 10px 0px;
    animation: show 1s;
}

/** Il simbolo > serve per selezionare solo il figlio diretto */
li > div:first-child{
    display: flex; /* Attiva la modalità flexbox */
    flex-direction: row; /* Elementi distribuiti in riga */
    align-items: center;
    gap: 10px; /* Spazio tra elementi */
}

/** Applico lo stile al tag che contiene expireDate */
.expireDate{
    font-size: 11px;
    margin-top: 10px;
    color: brown;
}

.mdi-delete{
    color: red;
    cursor: pointer;
    margin-right: 10px;
}

.mdi-delete:hover, .mdi-content-save:hover{
    filter: brightness(90%);
    cursor: pointer;
}

.mdi-delete:active, .mdi-content-save:active{
    filter: brightness(70%);
    cursor: pointer;
}

.mdi-content-save{
    color: rgb(0, 180, 255);
    margin-right: 5px;
}
